In [18]:
###### Hello ######
##ML project ##
#https://www.kaggle.com/datasets/vjchoudhary7/customer-segmentation-tutorial-in-python

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [20]:
df = pd.read_csv('/home/ml-abu-saleh-ml/JUPYTER/DATASETS/Mall_Customers.csv')

In [21]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [22]:
df.count()

CustomerID                200
Gender                    200
Age                       200
Annual Income (k$)        200
Spending Score (1-100)    200
dtype: int64

In [23]:
df.shape

(200, 5)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [25]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [27]:
df[df['Annual Income (k$)'] > 120]

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

In [29]:
df[df['Annual Income (k$)'] > 120]['Age']

196    45
197    32
198    32
199    30
Name: Age, dtype: int64

In [30]:
map_age = {
    'Male' : 0,
    'Female' : 1
}
df['Gender'] = df['Gender'].map(map_age)

In [31]:
df['Gender']

0      0
1      0
2      1
3      1
4      1
      ..
195    1
196    1
197    0
198    0
199    0
Name: Gender, Length: 200, dtype: int64

In [40]:
print("Männer Anzahl: ", (df['Gender'] == 0).sum() )
print("Frauen Anzahl: ", (df['Gender'] == 1).sum())

Männer Anzahl:  88
Frauen Anzahl:  112